<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="display_contacts.css">
    <title>display-contacts</title>
</head>

<body> 
<h1> These are all of the contacts </h1>
<ul>

<h2> To create a new contact follow this <a href= "/New_contact_form"> link </a> </h2>

<% @all_contacts.each do |individual_family_member| %>


<li> 
<h3> <%= individual_family_member[:first_name] %> </h3> 
<a href="/Delete_contact?id=<%=individual_family_member[:id]%>"> Delete </a> 
<% #why is the syntax :id? am i not accesing the id value of an object? shouldnt that be .id? %>
<a href="/Modify_contact?id=<%=individual_family_member[:id]%>"> Update <a>
</li>  

<% end %>



</ul>
</body>
</html>